.book {
  line-height: 1.2;
  font-size: 1.4rem;
  justify-content: center;
  padding: 20px 0;
  border-bottom: solid 1px #bbb;

  &:last-child {
    border-bottom: none;
  }

  .book-thumbnail-container {
    margin-right: 20px;

    .book-thumbnai {
      width: 200px;
    }
  }

  .book-info {
    border: solid 1px #bbb;
    width: 460px;

    .book-info-row {
      display: flex;
      border-bottom: solid 1px #bbb;

      &:last-child {
        border-bottom: none;
      }
    }

    dt {
      background-color: #d4d4d4;
      width: 30%;
      flex-grow: 0;
      font-weight: 500;
    }

    dd {
      width: 70%;
    }

    dt,
    dd {
      padding: 5px 10px;
      color: #555;
      font-size: 15px;
      line-height: 2.2;
    }
  }

  .book-label {
    display: inline-block;
    padding: 5px 4px;
    font-size: 1.4rem;
    font-weight: 500;
    border: solid 1px transparent;

    &.book-label-new {
      border-color: #f7ac00;
      color: #fff;
      background-color: #f7ac00;
    }

    &.book-label-old {
      border-color: #d4d4d4;
      color: #555;
      background-color: #d4d4d4;
    }

    &.book-label-genre {
      border-color: #1ea0c5;
      color: #fff;
      background-color: #1ea0c5;
    }

    &.book-label-char {
      border-color: #def39f;
      color: #3f9d25;
      background-color: #def39f;
    }
  }
}
