.heading-title {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.heading-subtitle {
  color: #3f9d25;
  background-color: #def39f;
  padding: 6px 15px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.heading-ruby {
  font-size: 1.3rem;
  color: #005bab;
  font-weight: 500;
}

.heading-tertiary {
  color: #34a0ad;
  font-size: 1.8rem;
  font-weight: 500;
}
